
<!DOCTYPE html>
<html>
<head>
	<title>Leaflet Quick Start Guide Example</title>
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css">
  <style>
    body {
      padding-top: 20px;
    }
  </style>

  <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
  <script src="http://tombatossals.github.io/angular-leaflet-directive/dist/angular-leaflet-directive.min.js"></script>
</head>
<body>
  <div class="container" ng-app="tw-location-selector">
    <div class="row" ng-controller="GeoJSONController">
      <div class="col-md-8">
        <div>
          <div>
           <leaflet width="100%" height="720px" center="taiwan" geojson="geojson" defaults="defaults"></leaflet>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="alert alert-warning" role="alert">
          {{hover_town.name}}
        </div>
        <hr>
        <div class="alert alert-info" role="alert" ng-repeat="town in selected_towns">
          <button type="button" class="close" ng-click="delete_town($index)"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          {{town.name}}
        </div>
      </div>
    <div>
  </div>

  <script>
    var app = angular.module("tw-location-selector", ["leaflet-directive"]);

    app.controller("GeoJSONController", [ '$scope', '$http', function($scope, $http) {

      angular.extend($scope, {
        taiwan: {
          lat: 23.58412603264412,
          lng: 121.13525390625,
          zoom: 7.5
        },
        defaults: {
          scrollWheelZoom: false,
          crs: 'Simple'
        }
      });

      $scope.hover_town = "無";
      $scope.selected_towns = [];
      $scope.delete_town = function(index) {
        $scope.selected_towns.splice(index, 1);
      };

      $scope.$on("leafletDirectiveMap.geojsonMouseover", function(ev, leafletEvent) {
        $scope.hover_town = {
          name: leafletEvent.target.feature.properties.name
        };
      });

      $scope.$on("leafletDirectiveMap.geojsonClick", function(ev, featureSelected, leafletEvent) {
        $scope.selected_towns.push({
          name: leafletEvent.target.feature.properties.name
        });
      });

      // Get the countries geojson data from a JSON
      $http.get("twTown1982.geo.json").success(function(data, status) {
          angular.extend($scope, {
              geojson: {
                  data: data,
                  style: {
                      fillColor: "green",
                      weight: 2,
                      opacity: 1,
                      color: 'white',
                      dashArray: '3',
                      fillOpacity: 0.7
                  }
              }
          });
      });
    }]);


  </script>
</body>
</html>
